@import '../../../styles/variables';

.reseñas {
    background-color: #f9f9f9; 
    padding: 40px 0; 
    text-align: center;
    background-color: $tertiary-color;
    background-repeat: no-repeat; 
    background-position: 98% 2%; 
    background-size: 7%; 
    position: relative; 
}

.reseñas h2 {
    font-size: 2.5rem; 
    color: #181e4b; 
    font-family: $font-family-title;
    margin-bottom: 40px; 
    font-weight: bold;
}

.reseña {
    display: flex;
    justify-content: center; 
    gap: 50px;
    flex-wrap: wrap; 
}

.testimonio {
    background-color: #fff; 
    border-radius: 12px; 
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); 
    display: flex; 
    width: 100%; 
    max-width: 700px;
    overflow: hidden; 
    text-align: left; 
    height: 420px;
    position: relative; 
    z-index: 1; 
}

.testimonio .imagen {
    flex: 0 0 40%; 
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: 
#f5f5f5; 
    overflow: hidden; 
}

.testimonio .imagen img {
    width: auto; 
    height: 100%; 
    object-fit: contain; 
    max-width: 100%; 
}

.testimonio .contenido {
    flex: 1; 
    padding: 30px 50px; 
    display: flex;
    font-family: $font-family-body;
    font-size: large;
    flex-direction: column; 
    justify-content: center;
    color: #555; 
    overflow: hidden; 
}

.testimonio .contenido .estrellas {
    color: 
#ff9900; 
    font-size: 1.5rem; 
    margin-bottom: 10px; 
}

.testimonio .contenido p:first-child {
    font-style: italic; 
    margin-bottom: 30px; 
}

.testimonio .contenido p:last-child {
    font-weight: bold;
    font-size: 1.2rem;
    color: 
#181e4b; 
    margin-top: 40px;
}

.reseña .testimonio:not(:last-child) {
    margin-bottom: 40px; 
}