<section class="routes">
    <div class="routes__header">
        <h1 class="routes__title">Rutas</h1>
        <p class="routes__subtitle">"Una mirada a las experiencias increíbles que el mundo tiene para ofrecer"</p>
    </div>

    <div class="routes__content">
        <div class="routes__route">
            <div class="routes__route-text">
                <h2 class="routes__route-title">Pirineos</h2>
                <p class="routes__route-description">Recorrer los Pirineos en camper es una experiencia única, donde la
                    aventura y la naturaleza se combinan a la perfección. Desde los valles de Cataluña hasta los picos
                    más altos, encontrarás paisajes espectaculares y pueblos pintorescos. Explora parques como
                    Aigüestortes o el Valle de Arán, y disfruta de la tranquilidad de la montaña. Con tu camper, puedes
                    parar en lugares tranquilos y dormir bajo un cielo estrellado. Un viaje ideal para los amantes de la
                    naturaleza y la libertad.</p>
                <a href="https://travesiapirenaica.com/pirineo-en-autocaravana/?srsltid=AfmBOooL518YvO9qToDH7kZs4CiPTA_q-Mf5YcTSgHRinPFjVRFa_XQa" target="_blank" class="routes__route-link">Leer más →</a>
            </div>
            <img src="assets/img/Pirineos.jpg" alt="Pirineos" class="routes__route-image">
        </div>

        <div class="routes__route">
            <div class="routes__route-text">
                <h2 class="routes__route-title">Costa Brava</h2>
                <p class="routes__route-description">Recorrer la Costa Brava en camper es una experiencia única,
                    explorando pueblos costeros como Cadaqués y Tamariú. Disfrutarás de calas secretas, aguas
                    cristalinas y acantilados impresionantes. La ruta te lleva a encantadores pueblos pesqueros llenos
                    de historia y tradición. Podrás hacer senderismo junto al mar o simplemente relajarte con el sonido
                    de las olas. Una aventura ideal para los amantes de la naturaleza y la tranquilidad.</p>
                <a href="https://campervanbruno.es/blog/ruta-furgo-camper-costa-brava/" target="_blank" class="routes__route-link">Leer más →</a>
            </div>
            <img src="assets/img/CostaBrava.jpg" alt="Costa Brava" class="routes__route-image">
        </div>
    </div>
</section>