<section class="pasos">
    <h2 class="pasos__title">Tu alquiler con tres sencillos pasos</h2>

    <div class="paso">
        <div class="paso__item">
            <div class="paso__item__icon">
                <img src="assets/img/Ubicacion.png" alt="Icono de ubicación">
            </div>
            <h3>Selecciona tu ubicación</h3>
            <p>Elige donde empezar y terminar tu viaje</p>
        </div>

        <div class="paso__item">
            <div class="paso__item__icon">
                <img src="assets/img/Calendario.png" alt="Icono de calendario">
            </div>
            <h3>Selecciona tus fechas</h3>
            <p>Elige cuando empezar y terminar tu viaje</p>
        </div>

        <div class="paso__item">
            <div class="paso__item__icon">
                <img src="assets/img/Coche.png" alt="Icono de coche">
            </div>
            <h3>Selecciona tu coche</h3>
            <p>Elige la camper de tus sueños y ¡disfruta!</p>
        </div>
    </div>
</section>