:host {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    position: relative;
}

.main-content {
    flex: 1;
    width: 100%;
    position: relative;
}

:host-context(.navbar-visible) .main-content {
    padding-top: 80px; 
}