<header class="hero">
    <div class="hero__content">
        <h1>Viaja, disfruta y vive un mundo de emociones</h1>
        <p>Consigue un coche donde y cuando lo necesites, con tu dispositivo iOS y Android</p>
        <div class="hero__buttons">
            <a href="https://play.google.com/store/games?hl=es&pli=1" class="hero__store-button" target="_blank">
                <img src="assets/img/Google.png" alt="Google Play" class="hero__store-button-logo">
            </a>
            <a href="https://www.apple.com/es/app-store/" class="hero__store-button" target="_blank">
                <img src="assets/img/IOS.png" alt="App Store" class="hero__store-button-logo">
            </a>
        </div>
    </div>

    <div class="hero__image">
        <img src="assets/img/Portada.png" alt="Volkswagen Camper">
    </div>

    <div class="hero__forma">
        <img src="assets/img/Forma.png" alt="Forma decorativa">
    </div>

    <div class="search">
        <div class="search__item">
            <div class="search__icon">
                <img src="assets/img/Ubicacion2.png" alt="Ubicación">
            </div>
            <div class="search__input">
                <input type="text" Value="Ubicación de salida">
            </div>
        </div>

        <div class="search__item">
            <div class="search__icon">
                <img src="assets/img/Calendario2.png" alt="Calendario">
            </div>
            <div class="search__input">
                <input type="text" value="Fecha de salida" readonly>
            </div>
        </div>

        <div class="search__item">
            <div class="search__icon">
                <img src="assets/img/Ubicacion2.png" alt="Ubicación">
            </div>
            <div class="search__input">
                <input type="text" value="Ubicación de llegada">
            </div>
        </div>

        <div class="search__item">
            <div class="search__icon">
                <img src="assets/img/Calendario2.png" alt="Calendario">
            </div>
            <div class="search__input">
                <input type="text" value="Fecha de llegada" readonly>
            </div>
        </div>

        <button class="search__button">Buscar</button>
    </div>
</header>