@import '../../../styles/variables';

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60vh;
    padding-top: $spacing-xlarge;
    position: relative;
    overflow: hidden;
}

.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60vh;
    background-color: $color-background;
    position: relative;
    overflow: hidden;
    margin-top: $spacing-xlarge*2;

    &__content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        max-width: 40%;
        padding-right: $spacing-medium;
        padding-left: 10%;
        text-align: center;
        position: relative;
        margin-bottom: $spacing-large;
        z-index: 2;

        h1 {
            font-size: 45px;
            color: $text-title;
            font-family: $font-family-title;
            margin-bottom: $spacing-small;
        }

        p {
            font-size: $font-size-large;
            font-weight: $font-weight-regular;
            font-family: $font-family-body;
            max-width: 600px;
            margin: 0 auto;
            text-align: center;
            line-height: 1.4;
            margin-top: $spacing-small;
            margin-bottom: $spacing-large;
        }
    }

    &__buttons {
        display: flex;
        gap: $spacing-medium;
        margin-top: $spacing-medium;
        justify-content: center;
        width: auto;
        max-width: 100%;
    }

    &__store-button {
        display: block;
        width: 160px;
        height: 50px;
        border-radius: 5px;
        overflow: hidden;
        border: none;
        transition: transform 0.3s ease;

        &:hover {
            transform: scale(1.05);
        }

        &-logo {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }

    &__image {
        position: absolute;
        top: 10%;
        left: 40%;
        width: 60%;
        height: 100%;
        overflow: hidden;
        z-index: 1;

        img {
            width: 100%;
            height: auto;
            object-fit: cover;
            transform: scale(1.2);
        }
    }

}