<header class="hero">
    <div class="hero__content">
        <h1>Viaja, disfruta y vive un mundo de emociones</h1>
        <p>Consigue un coche donde y cuando lo necesites, con tu dispositivo iOS y Android</p>
        <div class="hero__buttons">
            <a href="https://play.google.com/store/games?hl=es&pli=1" class="hero__store-button" target="_blank">
                <img src="assets/img/Google.png" alt="Google Play" class="hero__store-button-logo">
            </a>
            <a href="https://www.apple.com/es/app-store/" class="hero__store-button" target="_blank">
                <img src="assets/img/IOS.png" alt="App Store" class="hero__store-button-logo">
            </a>
        </div>
    </div>

    <div class="hero__image">
        <img src="assets/img/Portada.png" alt="Volkswagen Camper">
    </div>

</header>