@import 'styles/variables';
@import 'styles/base';
@import 'styles/sweetalert';

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.swal2-popup {
    .swal2-actions {
        gap: 5px !important;
        margin-top: 1rem !important;
        display: flex !important;
        justify-content: center !important;
        width: 100% !important;
    }

    .swal2-confirm,
    .swal2-cancel {
        min-width: 200px !important;
        padding: 12px 30px !important;
        font-size: 1rem !important;
        font-weight: 600 !important;
        border-radius: 8px !important;
        margin: 0 10px !important;
        white-space: nowrap !important;
        flex: 0 0 auto !important;
        width: auto !important;
    }
}