<div class="contact-container">
    <div class="form-container">
        <h2>Envíanos tu mensaje</h2>
        <form action="#" method="post">
            <input type="text" name="nombre" placeholder="Nombre" required>
            <input type="text" name="apellidos" placeholder="Apellidos" required>
            <input type="email" name="email" placeholder="Email" required>
            <input type="text" name="mensaje" placeholder="Mensaje" required>
            <button type="submit">Enviar</button>
        </form>
    </div>
    
    <div class="image-container">
        <img src="assets/img/Contacto.jpg" alt="Furgoneta Van&Go en la playa">
    </div>
</div>

<div class="contact-info">
    <div class="contact-item">
        <div class="contact-icon">
            <img src="assets/img/Ubicacion3.png" alt="Icono de ubicación">
        </div>
        <div>
            <span>Dirección</span>
            <p>C/ Ovispo Rodríguez, 145</p>
        </div>
    </div>
    
    <div class="contact-item">
        <div class="contact-icon">
            <img src="assets/img/Correo.png" alt="Icono de email">
        </div>
        <div>
            <span>Email</span>
            <p>Van&amp;Go&#64;gmail.com</p>

        </div>
    </div>
    
    <div class="contact-item">
        <div class="contact-icon">
            <img src="assets/img/Telefono.png" alt="Icono de teléfono">
        </div>
        <div>
            <span>Teléfono</span>
            <p>+34 627 87 97 98</p>
        </div>
    </div>
    
    <div class="contact-item">
        <div class="contact-icon">
            <img src="assets/img/Reloj.png" alt="Icono de reloj">
        </div>
        <div>
            <span>Horario</span>
            <p>Abierto 24/7</p>
        </div>
    </div>
</div>