<footer class="footer">
    <div class="footer__container">
        <div class="footer__logo">
            <h1>Van&Go.</h1>
            <p>¡Comienza tu próxima aventura con nosotros!</p>
            <div class="footer__social">
                <a href="#"><img src="assets/img/Instagram.png" alt="Instagram"></a>
                <a href="#"><img src="assets/img/Facebook.png" alt="Facebook"></a>
                <a href="#"><img src="assets/img/X.png" alt="X"></a>
            </div>
        </div>

        <div class="footer__links">
            <div>
                <p>Explora</p>
                <a href="#">Catálogo</a>
                <a href="#">Elígenos</a>
                <a href="#">Rutas</a>
            </div>

            <div>
                <p>Soporte</p>
                <a href="#">Centro de ayuda</a>
                <a href="#">Contáctanos</a>
                <a href="#">Ubicaciones</a>
            </div>
        </div>
    </div>

    <div class="footer__bottom">
        <p class="footer__copyright">©2025 Van&Go. Todos los derechos reservados.</p>
        <div class="footer__terms">
            <a href="#">Política de privacidad</a>
            <a href="#">Términos y condiciones</a>
        </div>
    </div>
</footer>