<section class="types">
    <h2 class="types__title">¿Eres de capuchina, perfilada o furgo camper?</h2>
    <p class="types__description">La clave de los mejores roadtrips es plantearse las preguntas adecuadas antes de
        alquilar una autocaravana o una furgoneta camper. Existe un vehículo para cada viaje. No te preocupes, te
        explicamos las ventajas de cada uno.</p>

    <div class="types__container">
        <div class="types__item">
            <img src="assets/img/FurgoCamper.png" alt="Furgoneta camper">
            <h3>Furgoneta camper</h3>
            <p>Discreta y práctica</p>
            <p>La furgoneta camper es la más accesible. Ideal para los amantes de las actividades al aire libre y los
                viajeros que desean estar más cerca de la naturaleza.</p>
        </div>

        <div class="types__item">
            <img src="assets/img/GranVolumen.png" alt="Camper gran volumen">
            <h3>Camper gran volumen</h3>
            <p>Original y autónoma</p>
            <p>Perfecta para parejas y viajes cortos en familia, la camper gran volumen es sinónimo de practicidad. De
                fácil manejo y compacto, te llevará por todas partes.</p>
        </div>

        <div class="types__item">
            <img src="assets/img/Perfilada.png" alt="Caravana Perfilada">
            <h3>Caravana Perfilada</h3>
            <p>Compacta y equipada</p>
            <p>El vehículo más compacto con todo el equipamiento necesario. ¿El pequeño extra? Su forma aerodinámica:
                mejor para el presupuesto del viaje y el planeta.</p>
        </div>

        <div class="types__item">
            <img src="assets/img/Capuchina.png" alt="Caravana Capuchina">
            <h3>Caravana Capuchina</h3>
            <p>Familiar y cómoda</p>
            <p>¡Toda la comodidad! La capuchina te ofrece un auténtico sabor a libertad y al mismo tiempo simplifica la
                autonomía de tu viaje. A los niños les encanta.</p>
        </div>
    </div>
</section>