// Colores principales
$primary-color: #05889C;
$secondary-color: #AFD7D6;
$tertiary-color: #18adc411;
$accent-color: #EFBF14;
$color-background: #ffffff;

// Colores de texto
$text-title: #181E4B;
$text-body: #303030;

// Fuentes
$font-family-title: 'Volkhov', serif;
$font-family-body: 'Poppins', sans-serif;
$font-family-la-belle-aurore: 'La Belle Aurore', cursive;
$font-family-caveat: 'Caveat', cursive;

// Grosor de fuente
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-semibold: 600;
$font-weight-bold: 700;

// Tamaños de fuente
$font-size-small: 14px;
$font-size-base: 16px;
$font-size-large: 18px;
$font-size-xlarge: 24px;
$font-size-xxlarge: 32px;

// Espaciado
$spacing-unit: 8px;
$spacing-small: $spacing-unit;
$spacing-medium: $spacing-unit * 2;
$spacing-large: $spacing-unit * 3;
$spacing-xlarge: $spacing-unit * 5;
$spacing-xxlarge: $spacing-unit * 7;

// Breakpoints
$breakpoint-mobile: 576px; // Móviles 
$breakpoint-tablet: 768px; // Tablets 
$breakpoint-routes: 1200px; // Breakpoint específico para rutas
$breakpoint-laptop: 1024px; // Portátiles
$breakpoint-desktop: 1280px; // Escritorios grandes