<section class="app">
    <div class="app__container">
        <div class="app__content">
            <div class="app__left">
                <h2>Descarga nuestra aplicación</h2>
                <p>Descarga nuestra aplicación móvil para una experiencia más completa. Disponible para iOS y Android.
                </p>
                <div class="app__buttons">
                    <a href="https://play.google.com/store/games?hl=es&pli=1" class="app__store-button" target="_blank">
                        <img src="assets/img/Google.png" alt="Google Play" class="app__store-button-logo">
                    </a>
                    <a href="https://www.apple.com/es/app-store/" class="app__store-button" target="_blank">
                        <img src="assets/img/IOS.png" alt="App Store" class="app__store-button-logo">
                    </a>
                </div>
            </div>
            <div class="app__right">
                <img src="assets/img/APP.png" alt="Aplicación móvil Van&Go">
            </div>
        </div>
    </div>
</section>