<section class="elijenos">
    <div class="image">
        <img src="assets/img/Eligenos.png" alt="Caravana Van&Go">
    </div>
    
    <div class="container">
        
        <h1>Te ofrecemos la mejor experiencia con nuestras ofertas</h1>
        
        <ul class="features">
            <li>
                <div class="feature-item">
                    <img src="assets/img/Precio.png" alt="Icono de precio" class="icon">
                    <div class="content">
                        <h3>Mejor precio garantizado</h3>
                        <p>¿Has encontrado un precio más bajo? Te reembolsamos la diferencia</p>
                    </div>
                </div>
            </li>
            
            <li>
                <div class="feature-item">
                    <img src="assets/img/Conductor.png" alt="Icono de conductor" class="icon">
                    <div class="content">
                        <h3>Conductor experimentado</h3>
                        <p>¿No tienes conductor? No te preocupes, tenemos uno para ti</p>
                    </div>
                </div>
            </li>
            
            <li>
                <div class="feature-item">
                    <img src="assets/img/Entrega.png" alt="Icono de entrega" class="icon">
                    <div class="content">
                        <h3>Entrega de vehículos las 24 horas</h3>
                        <p>Reserva tu coche en cualquier momento y te lo entregaremos</p>
                    </div>
                </div>
            </li>
            
            <li>
                <div class="feature-item">
                    <img src="assets/img/Soporte.png" alt="Icono de soporte" class="icon">
                    <div class="content">
                        <h3>Soporte técnico 24/7</h3>
                        <p>¿Tienes preguntas? Estamos disponibles para ti, a cualquier hora</p>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</section>