<nav class="navbar">
  <div class="navbar__container">
    <div class="navbar__logo">
      <a routerLink="/">
        <img src="assets/img/Logo.png" alt="Van&Go">
      </a>
    </div>

    <ul class="navbar__links">
      <li><a routerLink="/catalogo">Catálogo</a></li>
      <li><a routerLink="/eligenos">Elígenos</a></li>
      <li><a routerLink="/rutas">Rutas</a></li>
      <li><a routerLink="/contacto">Contacto</a></li>
    </ul>

    <div class="navbar__actions">
      <a routerLink="/registro" class="navbar__actions--register">Regístrate</a>
      <a routerLink="/login" class="navbar__actions--login">Iniciar sesión</a>
    </div>
  </div>
</nav>